.tabs-container {
  width: 100%;
  background-color: lightgray;
  padding-top: 10px;
  border-bottom: black 2px solid;
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  /* border-bottom: 2px solid #ddd; */
}

.tab {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: none;
  transition: border-radius 0.15s ease-in-out, background-color 0.5s ease;
  border-radius: 10px 10px 0 0;
  color: black;
  text-transform: uppercase;
}

.tab:hover {
  color: #3498db;
}

.tab.active {
  color: white;
  background-color: #3498db;
  border-radius: 20px 20px 0 0;
  cursor: inherit;
  /* transition: all 1s ease; */
}

button {
  cursor: pointer;
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
}
