aside {
  flex: 0 0 350px;
  background-color: lightblue;
  min-height: 100vh;

  border-right: black 2px solid;
  position: relative;
}

form {
  padding: 10px;
}

h1 {
  font-size: 1.6rem;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

input {
  appearance: none;
  padding: 2px 5px;
  border-radius: 5px;
}

label {
  display: block;
  padding-right: 10px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.inputs {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;
}

input {
  background-color: white;
  border: none;
  border-radius: 0px;
  border-bottom: solid 2px black;
  padding: 2px 5px;
  margin-bottom: 15px;
}

.form-container {
  margin: 0 20px 15px 20px;

  & > p {
    font-size: 1.2rem;
    padding: 4px 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
}

.form-container > .hidden {
  display: none;
}

.multiple {
  border: 2px solid black;
  border-radius: 20px;
}

button.addWorkForm {
  position: absolute;
  top: 56px;
  right: 40px;
  font-size: 2rem;
}

.addWorkForm:hover {
  color: red;
}
