aside {
  flex: 0 0 400px;
  background-color: lightblue;
  min-height: 100vh;

  border-right: black 2px solid;
}

form {
  padding: 10px;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
}

input {
  appearance: none;
  padding: 2px 5px;
  border-radius: 5px;
}

label {
  display: block;
  text-align: right;
  padding-right: 10px;
}

.inputs {
  display: grid;
  grid-template-columns: 130px 240px;
  row-gap: 25px;
}

input {
  background-color: white;
  border: none;
  border-radius: 0px;
  border-bottom: solid 2px black;
  padding: 2px 5px;
}
